* {
    font-family: arial;
}

body {
    background-color: whitesmoke;
}

img {
    border: 1px solid black;
    margin-bottom: 15px;
}

h1{
    background-color: lightgrey;
    border-radius: 5px;
    border: solid 1px grey;
    box-shadow: 0 0 2px;
    padding: 10px;
    margin: 10px;
}

hr {
    width: 80%;
    margin-bottom: 15px;
}

button {
    margin: 0px 5px 0px 5px;
    background-color: #d3d3d3;
    border: 1px solid black;
}

button:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContent-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.userData {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: solid 1px grey;
    box-shadow: 0 0 2px;
    width: 500px;
    height: 500px;
    margin: 10px;
}

.dynamicUserData {
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .userData {
        width: 275px;
    }
}